@model IEnumerable<QuanLyTour.Models.Tour>

@{
    ViewBag.Title = "DanhSachSuaTour";

    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h2>DanhSachSuaTour</h2>
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTour)
                </td>
                <td>
                    @string.Format("{0:0,000} VND", item.GiaTour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "SuaTour", new { tour = item.MaTour })
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>
        <p>
            Không có dữ liệu
        </p>
    </div>
}
<div>
    <a href="/QuanLy">Quay về</a>
</div>