@model QuanLyTour.Models.Tour
@{
    ViewBag.Title = "Details";
}

<div>
    <h2>Tour</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTour)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @string.Format("{0:0,000} VND", Model.GiaTour)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            Lịch trình
        </dt>

        <dd style="text-align: center; overflow: auto">
            @if (ViewBag.LichTrinhs != null)
            {
                IEnumerable<QuanLyTour.Models.LichTrinh_Tour> lichtrinhs = ViewBag.LichTrinhs;
            <div style="width: 100%;">
                <div style="width: 45%; float: left; text-align: center">Ngày bắt đầu</div>
                <div style="width: 45%; float: left; text-align: center">Ngày kết thúc</div>
            </div>
                <div style="border-color: #c3c3c3; border-width: 1px; border-style: solid;">
                    <table width="90%" style="float: left;">
                        <tr>
                            <td width="50%"></td>
                            <td width="50%"></td>
                        </tr>
                        @foreach (var lichtrinh in lichtrinhs)
                        {
                            <tr>
                                <td>@lichtrinh.NgayDi.ToShortDateString()</td>
                                <td>@lichtrinh.NgayKetthuc.ToShortDateString()</td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </dd>

    </dl>
</div>
<div>
    <a href="@Url.Action("DangKyLichTrinhTour", new { tour = Model.MaTour})">Đăng ký Tour</a>
</div>
