@model QuanLyTour.Models.NhanVien

@{
    ViewBag.Title = "XoaNhanVien";
}

<h2>XoaNhanVien</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chucvu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chucvu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pwd)
        </dd>

    </dl>

    <form method="delete" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay về danh sách", "QuanLyNhanVien")
        </div>
    </form>
</div>
