@model IEnumerable<QuanLyTour.Models.Tour>

@{
    ViewBag.Title = "ThongKeDoanhThuTheoThang";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    int i = 0;
    List<int> doanhthu = (List<int>)ViewBag.DoanhThu;
}

@if (Model != null)
{

    <h2>ThongKeDoanhThuTheoThang</h2>
    <div>
        <form method="get">
            <input type="date" name="time" />
            <input type="submit" class="btn btn-default" value="Thống kê" />
        </form>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaTour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenTour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                Doanh thu
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaTour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTour)
                </td>
                <td>
                    @string.Format("{0:0,000} VND",item.GiaTour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @string.Format("{0:0,000} VND", doanhthu.ElementAt(i++))
                </td>
            </tr>
        }

    </table>

}
    <div>
        <p>
            <a href="/ThongKe">Quay về</a>
        </p>
    </div>