@model IEnumerable<QuanLyTour.Models.LichTrinh_Tour>

@{
    ViewBag.Title = "DanhSachLichTrinh";

    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h2>DanhSachLichTrinh</h2>
@if (Model != null)
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tour.TenTour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetthuc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tour.TenTour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayKetthuc)
                </td>
                <td>
                    @Html.ActionLink("Danh sách phiếu", "DanhSachPhieuDangKyTheoLichTrinh", new { lichtrinh = item.MaLichtring })
                </td>
            </tr>
        }

    </table>

}
else
{
    <div>
        <p>
            Không có dữ liệu
        </p>
    </div>
}
<div>
    <a href="/QuanLy">Quay về</a>
</div>