@model IEnumerable<QuanLyTour.Models.PhieuDangKy>

@{
    ViewBag.Title = "DanhSachPhieuDaDangKy";
}

@if (Model != null)
{
    <h2>DanhSachPhieuDaDangKy</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaPhieuDK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LichTrinh_Tour.Tour.TenTour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaylap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LichTrinh_Tour.NgayDi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LichTrinh_Tour.NgayKetthuc)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaPhieuDK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LichTrinh_Tour.Tour.TenTour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ngaylap)
                </td>
                <td>
                    @if (item.TinhTrang == null)
                    {
                        <p>
                            Chờ
                        </p>
                    }
                    else if (item.TinhTrang == true)
                    {
                        <p>Hợp lệ</p>
                    }
                    else
                    {
                        <p>Không hợp lệ</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LichTrinh_Tour.NgayDi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LichTrinh_Tour.NgayKetthuc)
                </td>

            </tr>
        }

    </table>

}
else
{
    <div>
        <p>
            Không có dữ liệu
        </p>
    </div>
}
    <div>
        <a href="/QuanLy">Quay về</a>
    </div>