@model QuanLyTour.Models.PhieuDangKy

@{
    ViewBag.Title = "XemPhieuDangKy";

    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h2>XemPhieuDangKy</h2>

@if (Model != null)
{
    <div>
        <h4>PhieuDangKy</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Khach.HoTen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Khach.HoTen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ngaylap)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ngaylap)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </dt>

            <dd>
                @if (Model.TinhTrang == null)
                {
                    <p>
                        Chưa duyệt
                    </p>
                }
                else if (Model.TinhTrang == true)
                {
                    <p>
                        Hợp lệ
                    </p>
                }
                else
                {
                    <p>
                        Không hợp lệ
                    </p>
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LichTrinh_Tour.NgayDi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LichTrinh_Tour.NgayDi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LichTrinh_Tour.NgayKetthuc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LichTrinh_Tour.NgayKetthuc)
            </dd>

            <dt>
                Người tham gia
            </dt>

            <dd>
                @if (ViewBag.KhachThamGias != null)
                {
                    List<QuanLyTour.Models.KhachThamGia> khachThamGias = ViewBag.KhachThamGias;
                    <div style="width: 90%; float: left;">
                        <table width="100%">
                            <tr>
                                <td width="50%">Tên</td>
                                <td width="50%">Số điện thoại</td>
                            </tr>
                        </table>
                    </div>
                    <div style="width: 90%; overflow: auto; float: left; height: 250px;">
                        <table width="100%">
                            <tr>
                                <td width="50%"></td>
                                <td width="50%"></td>
                            </tr>
                            @foreach (var khach in khachThamGias)
                            {
                                <tr>
                                    <td>@khach.Ten</td>
                                    <td>@khach.SDT</td>
                                </tr>
                            }
                        </table>
                    </div>

                }
            </dd>
        </dl>
    </div>
}
else
{
    <div>
        <p style="font-size: large">
            Không có dữ liệu
        </p>
    </div>
}
<div>
    <a href="/DanhSachPhieuDangKy">Quay về</a>
</div>