@model IEnumerable<QuanLyTour.Models.Tour>

@{
    ViewBag.Title = "ThongKeTourYeuThichTheoQuy";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    int i = 0;
    List<int> yeuthich = (List<int>)ViewBag.YeuThich;
}
<h2>ThongKeTourYeuThichTheoQuy</h2>
<div>
    <form method="get">
        <span>Quý</span> <input type="number" max="4" min="1" name="quy" />
        <span>Năm</span> <input type="number" max="9999" min="1900" name="nam" />
        <input type="submit" value="Thống kê" />
    </form>
</div>
@if (Model != null)
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                Yêu thích
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaTour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @yeuthich.ElementAt(i++)
                </td>
            </tr>
        }

    </table>

}
else
{
    <div>
        <p>
            Không có dữ liệu
        </p>
    </div>
}
<div>
    <p>
        <a href="/ThongKe">Quay về</a>
    </p>
</div>